<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fishbot">

    <!-- Define materials used across included xacro files -->
    <material name="blue">
        <color rgba="0.1 0.1 1.0 0.5" />
    </material>
    <material name="green">
        <color rgba="0.1 1.0 0.1 0.5"/>
    </material>
    <material name="black">
        <color rgba="0.0 0.0 0.0 0.5" />
    </material>

    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/base.urdf.xacro" />
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/sensor/imu.urdf.xacro" />
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/sensor/camera.urdf.xacro" />
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/sensor/laser.urdf.xacro" />
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/actuator/wheel.urdf.xacro" />
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/actuator/caster.urdf.xacro" />

    <!-- 引入插件 -->
     <!-- 使用ros2_control替代 -->
    <!-- <xacro:include filename="$(find fishbot_description)/urdf/fishbot/plugins/gazebo_control_plugin.xacro" /> -->
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/plugins/gazebo_sensor_plugin.xacro" />
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/fishbot.ros2_control.xacro" />    

    <!-- <xacro:include filename="base.urdf.xacro" />
    <xacro:include filename="sensor/imu.urdf.xacro" />
    <xacro:include filename="sensor/camera.urdf.xacro" />
    <xacro:include filename="sensor/laser.urdf.xacro" /> -->

    <xacro:property name="base_cylinder_length" value="0.12"/>
    <xacro:property name="laser_pole_length" value="0.05"/>
    <xacro:base_link length="${base_cylinder_length}" radius="0.1"/>
    <xacro:imu_xacro xyz="0.0 0.05 0.0"/>
    <xacro:camera_xacro xyz="0.10 0.0 0.07"/>
    <!-- 杆底贴在 base_link 圆柱顶面：base 半高 + 杆半长（与 base、laser 杆长一致） -->
    <xacro:laser_xacro
        xyz="0 0 ${base_cylinder_length/2 + laser_pole_length/2}"
        laser_pole_len="${laser_pole_length}"/>

    <xacro:property name="wheel_left" value="left"/>
    <xacro:property name="wheel_right" value="right"/>
    <xacro:wheel_xacro wheel_name="${wheel_left}" xyz="0.0 0.10 -0.06"/>
    <xacro:wheel_xacro wheel_name="${wheel_right}" xyz="0.0 -0.10 -0.06"/>

    <xacro:caster_xacro caster_name="front_caster" xyz="0.08 0.0  -0.076"/>
    <xacro:caster_xacro caster_name="back_caster" xyz="-0.08 0.0  -0.076"/>

    <!-- <xacro:gazebo_control_plugin /> -->
    <xacro:fishbot_ros2_control wheel_left="${wheel_left}" wheel_right="${wheel_right}" />
    <xacro:gazebo_sensor_plugin />
</robot>